@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  width: 100%;
}

.page1 {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.container {
  width: 550px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: none;
}

.page1 {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em;
  padding-right: 1.3em;
}

.logo img {
  height: 100px;
  width: 100%;
}

.text-container {
  padding: 5% 8%;
  margin-bottom: 1em;
}
.text-container p {
  font-size: 4.5vw;
  font-weight: 500;
  letter-spacing: -0.6px;
}
.text-container h3 {
  font-size: 7vw;
  font-weight: 500;
  line-height: 1;
  margin-top: 0.3em;
  color: rgba(0, 0, 0, 0.5);
}

.bottom-nav {
  background-color: rgb(240, 240, 240);
  padding: 1em 1.5em;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
}
.bottom-nav .tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-nav .tab img {
  height: 30px;
  width: 30px;
}
.bottom-nav .search-icon {
  margin-left: -0.4rem;
}
.bottom-nav a {
  text-decoration: none;
  color: black;
  outline: white !important;
}
@media screen and (max-width: 542px) {
  .bottom-nav a {
    font-size: 60%;
    outline: none !important;
  }
  .bottom-nav img {
    height: 70%;
  }
}
.bottom-nav .tabs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.bottom-nav .tabs .tab a:focus,
.bottom-nav .tabs .tab a:active {
  outline: none !important;
}

.quad-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.quad-cards .card-tab {
  height: 165px;
  width: 160px;
  margin: 2% 2%;
  border-radius: 12px;
  background: url(card-img/meds.png) center no-repeat;
  background-size: cover;
}
.quad-cards .card-tab p {
  color: white;
  padding: 1em;
  padding-bottom: 0.3em;
  letter-spacing: -0.2px;
  line-height: 1.2;
}
.quad-cards .card-tab .btn {
  padding: 0.5em 1em;
  letter-spacing: -0.2px;
  line-height: 1.2;
  font-size: 0.5rem;
  text-decoration: none;
  background-color: rgb(30, 183, 13);
  border-radius: 12px;
  color: rgb(255, 255, 255);
  margin: 1.6em;
  margin-top: 0.3rem !important;
}
.quad-cards .card-tab:nth-child(2) {
  background: url(card-img/remedies.png) center no-repeat;
  background-size: cover;
}
.quad-cards .card-tab:nth-child(3) {
  background: url(card-img/firstAidbox.png) center no-repeat;
  background-size: cover;
}
.quad-cards .card-tab:nth-child(4) {
  background: url(card-img/buyMeds.png) center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 390px) {
  .card-tab {
    width: 160px !important;
    height: 165px !important;
  }
}
@media screen and (max-width: 370px) {
  .card-tab {
    width: 150px !important;
    height: 155px !important;
  }
}
@media screen and (max-width: 350px) {
  .card-tab {
    width: 140px !important;
    height: 145px !important;
  }
}
@media screen and (max-width: 320px) {
  .card-tab {
    width: 130px !important;
    height: 135px !important;
  }
}
@media screen and (max-width: 300px) {
  .card-tab {
    width: 120px !important;
    height: 125px !important;
  }
}
@media screen and (min-width: 416px) {
  .card-tab {
    width: 175px !important;
    height: 180px !important;
  }
}
@media screen and (min-width: 442px) {
  .card-tab {
    width: 180px !important;
    height: 185px !important;
  }
}
@media screen and (min-width: 460px) {
  .card-tab {
    width: 185px !important;
    height: 190px !important;
  }
}
/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
}
.search-bar .group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: calc(100% - 50px);
}
.search-bar .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #e7e7e7;
  color: #0d0c22;
  transition: 0.3s ease;
}
.search-bar .input::-moz-placeholder {
  color: #9e9ea7;
}
.search-bar .input::placeholder {
  color: #9e9ea7;
}
.search-bar .input:focus,
.search-bar input:hover {
  outline: none;
  border-color: rgba(234, 226, 183, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(234, 226, 183, 0.1);
}
.search-bar .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.card-container {
  overflow-y: auto;
}
.card-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-container .card-content {
  display: flex;
  flex-direction: column;
  margin: 0em 1em;
  width: 50%;
}
.card-container h4 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}
.card-container p {
  margin-top: 0.5em;
  font-size: 12px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}
.card-container .card-img img {
  height: 105px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-container img {
  border-radius: 12px;
}
.card-container .a {
  text-decoration: none;
  color: black;
  line-height: 1.2;
}
@media screen and (max-width: 500px) {
  .card-container .a {
    text-decoration: none;
    color: black;
    line-height: 1.2;
  }
  .card-container .a p {
    font-size: 95%;
  }
  .card-container .a h4 {
    font-size: 95%;
  }
  .card-container .card-img img {
    height: 80px;
    width: 80px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 440px) {
  .card-container .a {
    text-decoration: none;
    color: black;
    line-height: 1.2;
  }
  .card-container .a p {
    font-size: 85%;
  }
  .card-container .a h4 {
    font-size: 85%;
  }
  .card-container .card-img img {
    height: 80px;
    width: 80px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 390px) {
  .card-container .a {
    text-decoration: none;
    color: black;
    line-height: 1.2;
  }
  .card-container .a p {
    font-size: 80%;
  }
  .card-container .a h4 {
    font-size: 80%;
  }
  .card-container .card-img img {
    height: 80px;
    width: 80px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 364px) {
  .card-container .a .card-img img {
    height: 80px;
    width: 80px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 320px) {
  .card-container .a {
    padding: 0em 2em;
    color: black;
    line-height: 1.2;
  }
  .card-container .a p {
    font-size: 70%;
  }
  .card-container .a h4 {
    font-size: 70%;
  }
  .card-container .card-img img {
    height: 80px;
    width: 80px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
  width: calc(100% - 20px);
  height: 60%;
  overflow-y: scroll;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}
.modal .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
}
.modal .modal-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.modal img {
  border-radius: 12px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal h2 {
  letter-spacing: -0.4px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.modal mark {
  background-color: transparent;
  color: red;
}
@media screen and (max-width: 400px) {
  .modal .modal-content p {
    margin-top: 0.5em;
    font-size: 12px;
    letter-spacing: -0.35px;
  }
  .modal .modal-content p strong {
    color: rgba(0, 0, 0, 0.5);
  }
}

.tab-link:focus, .tab-link:active {
  outline: none;
}

a {
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.front {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.front .logo-container img {
  height: 200px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.front h5 {
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: -0.4px;
}
.front p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  letter-spacing: -0.35px;
  text-align: center;
}
.front a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  letter-spacing: -0.35px;
}
.front .login-btn {
  background-color: rgb(60, 177, 13);
  padding: 0.4rem 2.5rem;
  border-radius: 8px;
  color: white;
  margin-top: 2rem;
}
.front .sec-login-line {
  font-size: 14px;
  margin-top: 0.5rem;
}

.login {
  padding: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.login .left-allign {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.login .logo-container img {
  height: 64px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.login h5 {
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: -0.4px;
}
.login p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 1.3;
  margin-top: 4px;
  margin-bottom: 4px;
  letter-spacing: -0.4px;
  text-align: left;
}
.login input {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  outline: 0;
  font-size: 17px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.login a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  letter-spacing: -0.35px;
}
.login .login-btn {
  background-color: rgb(60, 177, 13);
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
.login .sec-login-line {
  font-size: 14px;
  margin-top: 0.5rem;
  text-align: center;
}

@media screen and (min-width: 390px) {
  .login {
    padding: 20% !important;
  }
}
.remedie {
  padding: 20px 0px;
  background-color: #f2f2f2;
  margin: 10px 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.08);
}
.remedie .remedie-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.remedie .remedie-img img {
  height: 200px;
  width: calc(100% - 50px);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.remedie .text-remedie {
  height: auto;
  width: calc(100% - 30px);
  padding: 10px 25px;
}
.remedie .text-remedie h4 {
  font-size: 1.1rem;
  letter-spacing: -0.4px;
}
.remedie .text-remedie p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 1.3;
  margin-top: 4px;
  margin-bottom: 4px;
  letter-spacing: -0.4px;
  text-align: left;
}

.tab-link:focus,
.tab-link:active,
.tab-link:focus-visible {
  outline: none;
}

@media only screen and (max-width: 767px) {
  .bottom-nav .tabs .tab a:focus,
  .bottom-nav .tabs .tab a:active {
    outline: none !important;
    -webkit-user-select: none !important;
       -moz-user-select: none !important;
            user-select: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .bottom-nav .tabs .tab a:active {
    background-color: transparent;
  }
}
a:active {
  background-color: transparent !important;
}

@media only screen and (max-width: 767px) {
  .bottom-nav .tabs .tab a:active,
  .bottom-nav .tabs .tab a:focus {
    outline: none !important;
    background-color: transparent !important;
  }
}/*# sourceMappingURL=style.css.map */

a{
  -webkit-tap-highlight-color: transparent !important; /* Disable tap highlight on WebKit browsers (e.g., Chrome, Safari) */
  tap-highlight-color: transparent !important; /* Disable tap highlight on some other browsers */
  }

  
  .loader{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
    width: 100%;
    height: 100vh;
}
.page-transition{
    position: absolute;
    top: 0;
    background-color:rgb(255, 255, 255);
    width: 100%;
    height: 0%;
}

.infoTab {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.infoTab-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  height: 500px;
  width: 100%;
  overflow-y: scroll;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#infoTabImage {
  max-width: 100%;
  max-height: 400px;
  margin-top: 10px;
  border-radius: 12px;
}

#infoTabDetails {
  margin-top: 20px;
  text-align: left;
}


/* Search Bar */
.inputbox {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.inputbox .group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: calc(100% - 50px);
}
.inputbox .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #e7e7e7;
  color: #0d0c22;
  transition: 0.3s ease;
}
.inputbox .input::-moz-placeholder {
  color: #9e9ea7;
}
.inputbox .input::placeholder {
  color: #9e9ea7;
}
.inputbox .input:focus,
.inputbox input:hover {
  outline: none;
  border-color: rgba(234, 226, 183, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(234, 226, 183, 0.1);
}
.inputbox .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}



/* Search Bar */
.buttonns {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.buttonns .group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: calc(100% - 50px);
}
.buttonns .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #e7e7e7;
  color: #0d0c22;
  transition: 0.3s ease;
  border: 3px solid white;
}
.buttonns .input::-moz-placeholder {
  color: #9e9ea7;
}
.buttonns .input::placeholder {
  color: #9e9ea7;
}
.buttonns .input:focus,
.buttonns input:hover {
  outline: none;
  border-color: rgba(234, 226, 183, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(234, 226, 183, 0.1);
}

#list{
  position: relative;
}

#list button{
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  color: #0d0c22;
  transition: 0.3s ease;
  border: 1px solid white;
}


.red{
  background-color: #ff8585;
}

.green{
  background-color: #beff85;
}

.flx{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  width: 100%;
}

#list li{
  background-color:rgb(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-top: 2%;
  padding: 0 0.8rem;
  width: calc(100% - 50px);
  margin: 5% auto;
  padding: 5%;
  margin-bottom: 0%;
  list-style-type: none;
  letter-spacing: -0.3px;
}

.titl{
  margin-top: 2%;
  padding: 0 0.8rem;
  width: calc(100% - 50px);
  margin: 5% auto;
  margin-bottom: 0;
}

.tabs{
  font-size: 2.5rem;
  padding: 2% 5%;
}

.tabs a{
  color: rgb(0,0,0,0.3);
}

.active a{
  color: black !important;
}

.home i{
  color: black;
}

.medkit i{
  color: black;
}

.homeremedies i{
  color: black;
}

.search i{
  color: black;
}